<div class="regioninfo">
    <div class="infowindow">
        <h3 style="font-size:large;margin:0">{{town_name}}</h3>
        {{#board}}
        <p style="margin:0">{{board}}</p>
        {{/board}}
        <hr/>
        {{#founded}}
        <p style="margin:0">
            <b>Founded:</b> {{founded}}
        </p>
        {{/founded}}
        {{#mayor}}
        <p style="margin:0">
            <b>Mayor:</b> {{mayor_name}}
        </p>
        {{/mayor}}
        {{#nation}}
        <p style="margin:0">
            <b>Nation:</b>
            {{nation_name}}
        </p>
        {{/nation}}
        <hr/>
        {{#economy}}
        <p style="margin:0">
            <b>Bank:</b>
            {{balance}}
        </p>
        <p style="margin:0">
            <b>Upkeep:</b>
            {{upkeep_cost}}
        </p>
        {{/economy}}
        <p style="margin:0">
            <b>Resident(s):</b>
            {{resident_count}}
        </p>
    </div>
</div>